<h2>== ngStyle ==</h2>

<i 
    [ngClass]="{'ion-ios7-star': meu_favorito, 'ion-ios7-star-outline':!meu_favorito}"
    [ngStyle]="{ 'backgroundColor': 'black',
                'color': '#ffd700',
                'fontSize': '170px'}"
    (click)="onClick ()"
    
></i>

<i 
    [ngClass]="{'ion-ios7-star': meu_favorito, 'ion-ios7-star-outline':!meu_favorito}"
    [ngStyle]="{ 'backgroundColor': 'black',
                'color': '#ffd700',
                'fontSize': '170px'}"
    (click)="onClick ()"
    
></i>

<i 
    [ngClass]="{'ion-ios7-star': meu_favorito, 'ion-ios7-star-outline':!meu_favorito}"
    [ngStyle]="{ 'backgroundColor': 'black',
                'color': '#ffd700',
                'fontSize': '170px'}"
    (click)="onClick ()"
    
></i>

<i 
    [ngClass]="{'ion-ios7-star': meu_favorito, 'ion-ios7-star-outline':!meu_favorito}"
    [ngStyle]="{ 'backgroundColor': 'black',
                'color': '#ffd700',
                'fontSize': '170px'}"
    (click)="onClick ()"
    
></i>

<i 
    [ngClass]="{'ion-ios7-star': meu_favorito, 'ion-ios7-star-outline':!meu_favorito}"
    [ngStyle]="{ 'backgroundColor': 'black',
                'color': '#ffd700',
                'fontSize': '170px'}"
    (click)="onClick ()"
    
></i>